{% extends 'base.html' %}
{% load static %}
{% block title %}
login
{% endblock title %}
{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-6 mt-5">
            <img class="login-image" src="{%static 'images/login-image.webp'%}" alt="">
        </div>
        <div class="col-6 mt-5">
            {% for msg in messages %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
             <strong>{{msg}}</strong> 
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
            {% else %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
             <strong>{{msg}}</strong> 
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
            {% endif %}
         {% endfor %}
            <h1 class="text-center mb-3 text-white">Login</h1>
            <form action="" method="post" class="p-5 border border-3 shadow rounded-3 text-white">
                {%csrf_token%}
                {{form.as_p}}
                <button class="btn btn-warning" type="submit">login</button>
                <a class="text-white" href="{% url 'reset-pwd'%}">forgot password</a>
            </form>
        </div>
        
    </div>
</div>

{% endblock content %}